<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock title %} - typeidea 博客系统</title>
</head>

<body>
    <div>顶部分类：
        {% for category_item in categories_nav %}
            <a href="{% url 'post_list_from_category_id_cbv' category_item.id %}">{{ category_item.name }}</a>
        {% endfor %}
    </div>
    <hr/>

    {% block main %}

    {% endblock main %}

    <hr/>
    <div>底部分类：
        {% for category_item in categories_nav %}
            <a href="{% url 'post_list_from_category_id_cbv' category_item.id %}">{{ category_item.name }}</a>
        {% endfor %}
    </div>

    <div>
        {% for sidebar_item in sidebars %}
            <h4>{{ sidebar_item.title }}</h4>
            {{ sidebar_item.content_html }}
        {% endfor %}
    </div>
</body>
</html>
